@{
    ViewBag.Title = "ZKM";
}

<div class="jumbotron">
   
    <center>Zarząd Komunikacji Miejskiej</center>
    <center> <img src="http://www.hdfreewallpapers.in/uploads/cache/3293991428/animated-classic-bus-on-road-79y8-715x500-MM-100.jpg" /></center>
    
</div>

<div class="row">



