@{
    ViewBag.Title = "Autorzy";
}
<center><h2>@ViewBag.Title</h2></center>


<address>
   
   
    <center>
        <b>
            Blicharski Bartosz<br />
            Gregorek Kamil<br />
            Jargieło Patryk<br />
            Lemm Kinga<br />
        </b>
        <img src="http://www.supreme-labs.com/images/the_team.gif" />
    </center>
</address>

